public net.minecraft.world.entity.Mob f_21344_ # navigator
public net.minecraft.world.level.block.GrowingPlantBlock m_142209_(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo
public net.minecraft.client.Camera m_90568_(DDD)V # move
public net.minecraft.world.level.block.state.properties.WoodType <init>(Ljava/lang/String;)V # WoodType
public net.minecraft.world.entity.item.FallingBlockEntity

# Kelp
public net.minecraft.world.level.block.GrowingPlantBlock m142209(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo
public net.minecraft.world.level.block.KelpPlantBlock m142209(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo
public net.minecraft.world.level.block.KelpBlock m142209(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo

# Worldgen
public net.minecraft.data.worldgen.biome.OverworldBiomes m_194869_(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V # globalOverworldGeneration
public net.minecraft.world.level.levelgen.carver.WorldCarver f_64983_ # carvableBlocks

# Navigation
public net.minecraft.world.level.pathfinder.Path f_77362_ # nodes
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation m_26493_()I # getSurfaceY

# Villagers
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldsForVillagerTypeItem
public-f net.minecraft.world.entity.npc.VillagerTrades$EmeraldsForVillagerTypeItem f_35664_ # trades
public-f net.minecraft.world.entity.npc.VillagerType f_35827_
public net.minecraft.world.entity.npc.VillagerType m_35831_(Ljava/lang/String;)Lnet/minecraft/world/entity/npc/VillagerType; #register

# Damage types
public net.minecraft.world.damagesource.DamageSources m_269079_(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; # source
public net.minecraft.world.damagesource.DamageSources m_268998_(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource; # source

# Arrows
public net.minecraft.world.entity.projectile.AbstractArrow f_36697_ #ticksInGround
public net.minecraft.world.entity.projectile.AbstractArrow f_36703_ # inGround

# Effects
public net.minecraft.world.effect.MobEffectInstance f_19504_ #amplifier
