public net.minecraft.world.entity.Mob f_21344_ # navigator

public net.minecraft.world.entity.Entity m_20272_(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3; # getAllowedMovement

public net.minecraft.world.entity.Entity f_19857_ # yRot

public net.minecraft.world.entity.Entity f_19858_ # xRot

public net.minecraft.world.level.block.GrowingPlantBlock m_142209_(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo

public net.minecraft.world.level.block.KelpPlantBlock m_142209_(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo

public net.minecraft.world.level.block.KelpBlock m_142209_(Lnet/minecraft/world/level/block/state/BlockState;)Z # canAttachTo

public net.minecraft.client.Camera m_90568_(DDD)V # move

public net.minecraft.world.level.block.state.properties.WoodType <init>(Ljava/lang/String;)V # WoodType

public net.minecraft.world.entity.item.FallingBlockEntity

public net.minecraft.world.entity.Entity f_19816_ # eyeHeight

public net.minecraft.world.entity.Entity f_19839_ # portalCooldown

public net.minecraft.world.entity.Entity m_284535_(Lnet/minecraft/world/level/Level;)V # setLevel

# Navigation
public net.minecraft.world.level.pathfinder.Path f_77362_ # nodes
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation m_26493_()I # getSurfaceY

# Damage types
public net.minecraft.world.damagesource.DamageSources m_269079_(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; # source
public net.minecraft.world.damagesource.DamageSources m_269298_(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource; # source
public net.minecraft.world.damagesource.DamageSources m_268998_(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource; # source
public net.minecraft.world.entity.projectile.AbstractArrow f_36697_ #ticksInGround

#This uses the searge names!!
public net.minecraft.world.item.CrossbowItem m_40941_(Lnet/minecraft/world/item/ItemStack;)Ljava/util/List; #getChargedProjectiles

#public net.minecraft.world.item.CrossbowItem m_220023_(Lnet/minecraft/util/RandomSource;)[F #getShotPitches

public net.minecraft.world.item.CrossbowItem m_40928_(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V #addChargedProjectile

public net.minecraft.world.item.CrossbowItem m_220025_(ZLnet/minecraft/util/RandomSource;)F #getRandomShotPitch

public net.minecraft.world.item.CrossbowItem m_40914_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/world/entity/projectile/AbstractArrow; #getArrow

public net.minecraft.world.item.CrossbowItem m_40853_(ILnet/minecraft/world/item/ItemStack;)F #getPowerForTime

public net.minecraft.world.item.CrossbowItem m_40894_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;FZFFF)V #shootProjectile

public net.minecraft.world.item.CrossbowItem m_40905_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;)V #onCrossbowShot